form(method='POST', action='/images')
  | Name:
  input#name(type='text', name='name')
  br
  | URL:
  input#url(type='text', name='url')
  br
  input(type='submit', value='Add Image')

form(method='POST', action='/blocks')
  | Name:
  input#name(type='text', name='name')
  br
  | URL:
  input#url(type='text', name='url')
  br
  input(type='submit', value='Add Image')

form(method='POST', action='/videos')
  | Name:
  input#name(type='text', name='name')
  br
  | URL:
  input#url(type='text', name='url')
  br
  input(type='submit', value='Add Image')
